@charset "UTF-8";
/*
    em HTML é id = em CSS é #
*/
body{
    background-color: #B7D9BE;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #2b422f;
}
h1#principal{
    text-align: center;
    background-color: #3C5C46;
    color: white;    
}
h2{
    color: #3C5C46;
}

.basico{
    color:#568a67
}
.intermediario{
    color:#15311e
}
.avancado{
    color: #7c0f0c;
    font-weight: bold;
}
.destaque{
    background-color: #eff89a;
}